body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    box-sizing: border-box;
    
}
.container {
    background-color: black;
    padding: 8px;
    margin: 8px;
    position: relative;
}
.title {
    
    color: cyan;
    display: inline-block;
    background-color: black;
    position: absolute;
    left: 0px;
    top: 50%;
    padding: 11px;
}
.title:hover{
    background-color: grey;
}
.banner {
    text-align: center;
}
input:valid {
    border: 10px solid green;
}
div img {
    
    width: 1500px;
    height: 740px;
}
nav {
    background-color: black;
    color: white;
    padding: 11px;
    position: sticky;
    top: 0;
    width: 100vw;
    box-sizing: border-box;
    z-index: 1;
}

ul
{
    display: inline;
}
li {
    display: inline;
    list-style: none;
}

div p {
    color: red;
}

p {
    color: blue;
}
p::after {
    content: "sample";
    color: white;
}
a[href$=".in"]
{
    background-color: red;
}

a[href$=".in"]:hover
{
    background-color: green;
}

.flex {
    /* Making the container flexible */
    display: flex;
    width: 100vw;
    height: 300px;
    padding: 8px;
    align-items: end;
    margin: 8px;
    background-color: blue;
    box-sizing: border-box;
    gap: 10px;
    
    
}

.flex-children {
    background-color: white;
    padding: 3px;
    height: 30px;
}

.child-1 {
    justify-self: center;
}

.icons {
    color: white;
}