body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    box-sizing: border-box;
    
}

nav {
    background-color: #010409;
    width: 100vw;
    padding: 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.hamburger {
    color: #848d97;
    transform: scale(1.4);
}

.logo {
    color: white;
    transform: scale(1.4);
}

.username {
    color: white;
}

.nav-item {
    
    display: flex;
    gap: 11px;
    align-items: center;

}

.search {
    background-color: transparent;
    border: 1px solid #30363D;
    color: white;
    padding: 4px;
    border-radius: 8px;
    width: 240px;
}

.search:focus {
    outline: none;
    border: 2px solid blue;
}


.line {
    height: 21px;
    color: white;
    border: 1px solid gray;
    width: 0px;
    

    
}

.x {
    display: flex;
    gap: 11px;
    align-items: center;
}

.plus {
   color: grey;
   padding: 4px;
   border: 1px solid gray;
   border-radius: 4px;
}


@media screen and (max-width: 1400px) {
    .username {
        font-size: 11px;
        display: none;
    }
}